<div class="side-contact">
    <h2>Kontakt</h2>
    <br />
    <ul>
            <li>
                kontakt@c3re.de
            </li>
            <li>
                02361/8488096
            </li>
        <li>
                <a class="icon" href="https://matrix.to/#/#hackerhuette:matrix.c3re.de"><img alt="Matrix Chat" src="/img/matrix.png" /></a>
            <a class="icon" href="https://chaos.social/@c3re"><img alt="Mastodon" src="/img/mastodon.png" /></a>
            <a class="icon" href="https://github.com/orgs/c3re"><img alt="Github" src="/img/github.png" /></a>
        </li>
        <li>
            <a href="/kontakt/#anreise">Anreise</a>
        </li>

    </ul>
</div>
